name: Changes

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Create Token
        id: myRequest
        run: |
          echo "res=$(curl --request GET --url "https://980934bbtrial.authentication.us10.hana.ondemand.com/oauth/token?grant_type=client_credentials" --user "${{ secrets.CLIENTID }}:${{ secrets.CLIENTSECRET }}" --header 'content-type: application/json')" >> $GITHUB_OUTPUT
 
      - name: Show Token
        run: |
          echo ${{ steps.myRequest.outputs.res}}
      
      - name: GET CALL USING CURL
        id: getCallUsingCURL
        run: |   
          curl --request GET \
          --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}' \
          --header 'content-type: application/json' \
          --url https://content-agent-engine.cfapps.us10.hana.ondemand.com/v1/contentResources?grant_type=client_credentials
      - name: get changed files
        id: getfile
        run: |
          echo "files=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | xargs)" >> $GITHUB_OUTPUT
      - name: echo output
        run: |
            echo ${{ steps.getfile.outputs.files }}
      - name: check split
        run: |
          MYPATH=${{ steps.getfile.outputs.files }}
          echo $MYPATH
          MYFILE=${MYPATH##*/}
          echo $MYFILE
          MYSAMPLE=${MYFILE%.*}
          echo $MYSAMPLE
      - name: run collection
        uses: docker-practice/actions-setup-docker@master
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          MYPATH=${{ steps.getfile.outputs.files }}
          MYFILE=${MYPATH##*/}
          MYSAMPLE=${MYFILE%.*}
          docker run -v $PWD:/etc/newman -t postman/newman run "test/$MYSAMPLE.json"
