name: Changes

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      # Example 1
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        
      - name: List all changed files
        run: |
            echo ${{ steps.changed-files.outputs.all_changed_files }}
            
      - name: Create Token
        id: myRequest
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://980934bbtrial.authentication.us10.hana.ondemand.com/oauth/token?grant_type=client_credentials'
          method: 'GET'
          username: 'sb-171d2491-9b93-4eae-abe6-6b88d8fc3060!b143373|cas-uaa-prod!b6249'
          password: 'vXuyMj14JOBq33lgp6XvYbG1uKo='
          customHeaders: '{"Content-Type": "application/json"}'
      - name: Show Token
        run: |
          echo ${{ steps.myRequest.outputs.response }}
      - name: GET CALL
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://content-agent-engine.cfapps.us10.hana.ondemand.com/v1/contentResources?grant_type=client_credentials'
          method: 'GET'
          bearerToken: ${{ fromJson(steps.myRequest.outputs.response).access_token }}
          customHeaders: '{"Content-Type": "application/json"}'
 
