name: Calling Postman Collection
env:
  tms: 'yes'
on:
  push:
    branches:
      - main
jobs:
  ctms:
    if: ${{env.tms}}  == 'yes'
    runs-on: ubuntu-latest 
    steps:
            - uses: actions/checkout@v3
              with:
                fetch-depth: 0  
            - name: Create Tokenn
              id: myRequest
              run: |
                echo "res=$(curl --request GET --url "https://development-dn6yj4ti.authentication.ca10.hana.ondemand.com/oauth/token?grant_type=client_credentials" -u "sb-69742024-3de4-47f8-83e5-4e2dd0aa9849!b805|alm-ts-backend!b37:WwRJdDW3kIdtJTr5GJBq0TzEHus=" --header 'content-type: application/json')" >> $GITHUB_OUTPUT

            - name: Show Token
              run: |
                echo ${{ steps.myRequest.outputs.res}}

            - name: TMS API
              id: tms
              run: |
                tms=$(curl --request GET --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}'  --url "https://transport-service-app-backend.ts.cfapps.ca10.hana.ondemand.com/v2/nodes" --header 'Accept: application/json')
                echo $tms

#       - name: CSRF Token
#         id: Csrf
#         run: |
#           csrf=$(curl -X HEAD --request GET --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}'  --url "https://980934bbtrial.it-cpitrial06.cfapps.us10-001.hana.ondemand.com/api/v1/" --header 'Accept: application/json' --header 'DataServiceVersion: 2.0' --header 'X-CSRF-Token: Fetch')
#           echo $csrf
#       - name: Deploy IFlow
#         run: |
#             data=$(curl --request POST --url 'https://980934bbtrial.it-cpitrial06.cfapps.us10-001.hana.ondemand.com/api/v1/DeployIntegrationDesigntimeArtifact?Version=%271.0.5%27&Id=527new_flow%27' --header 'Accept: application/json' --header 'X-CSRF-Token: 5e11af77cdb0917cacfe08d38272600d181134d7bd5c9ca261ab01f9a978b3841683873558258' --header 'DataServiceVersion: 2.0' --header 'APIKey: 6pagSQDAKqCBv9K4sf7vL6GaOikghSbe' -u shivamrajput1710@gmail.com:Shivam@123)
#             echo $data
        
#       - name: Check on failures
#         if: steps.myRequest.outcome == 'success' 
#         run: exit 1 
#          echo ${{steps.myRequest.outcome}}
       
#       - name: Check on success
#         if: steps.myRequest.outcome != 'success' 
#         run: 
#          echo ${{steps.myRequest.outcome}}
        
#       - name: Call To Get IFLow Details
#         run: |   
#           curl --request GET \
#           --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}' \
#           --header 'content-type: application/json' \
#           --url https://content-agent-engine.cfapps.us10.hana.ondemand.com/v1/contentResources?grant_type=client_credentials
          
#       - name: Get Changed Files
#         id: getfile
#         run: |
#           echo "files=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | xargs)" >> $GITHUB_OUTPUT
          
#       - name: Changed File Name
#         run: |
#             echo ${{ steps.getfile.outputs.files }}
            
#       - name: Run Docker
#         uses: docker-practice/actions-setup-docker@master
#       - uses: actions/checkout@v3
#         with:
#           fetch-depth: 0
#       - run: |
#             docker run -v $PWD:/etc/newman -t postman/newman run "${{ steps.getfile.outputs.files }}"
