name: CTMS
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Create Token
        id: myRequest
        run: |
          echo "res=$(curl --request GET --url "https://development-dn6yj4ti.authentication.ca10.hana.ondemand.com/oauth/token?grant_type=client_credentials" -u "sb-e0a3d792-09fd-42b7-8a2c-e4213af53411!b805|cas-uaa-prod!b58:J+neLeyi7wqBcEPXM1hl4CqAkTE=" --header 'content-type: application/json')" >> $GITHUB_OUTPUT
 
      - name: Show Token
        run: |
          echo ${{ steps.myRequest.outputs.res}}
          
      - name: CAS
        id: casData
        run: |
          echo "res=$(curl --request GET --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}'  --url "https://content-agent-engine.cfapps.ca10.hana.ondemand.com/v1/contentResources" --header 'Accept: application/json')"  >> $GITHUB_OUTPUT
               
      - name: payload
        run: |
          # echo ${{ steps.casData.outputs.res}} | jq '.id[]'
          cat > configuration.json <<EOF
          '${{  steps.casData.outputs.res }}
          EOF
          # prId="$(echo '${{  steps.casData.outputs.res }}' | jq '.id[]')";
           # echo "$prId";
           # echo "prId=$prId" >> "$GITHUB_OUTPUT"
