name: "Newman Tests"
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: postman/newman
    steps:
      - uses: actions/checkout@v1
      - id: myRequest
      - name: Run API Test
        run: newman run ./test/postman_collection_failure_case.json 
      - name: Req
      - run: |
         echo ${{ fromJson(steps.myRequest.outputs.response) }}
      
