name: "Newman Tests"
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: postman/newman
    steps:
      - uses: actions/checkout@v1
      - name: Install html
        run: npm install -g newman-reporter-htmlextra
      - name: make directory for file
        run: mkdir -p testResults
      - name: Run API Test
        run: newman run -h
       # Upload the contents of Test Results directory to workspace
      - name: Output the run Detailss
        uses: actions/upload-artifact@v2
        with:
          name: RunReports
          path: testResults
      - name: postman  
        uses: addnab/docker-run-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          image: postman/newman:latest
          run: newman run https://api.postman.com/collections/18008496-0c0e3091-3a0d-4243-bf3d-c89ddc7f8477?access_key=PMAT-01GW3WD2XJ1WEGY374FB44VV3B

