name: CI
on:
  push:
    branches: [ main ]
jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: postman/newman:latest
    steps:
      - name: Check for dockerenv file
        run: postman/newman run "https://api.postman.com/collections/18008496-0c0e3091-3a0d-4243-bf3d-c89ddc7f8477?access_key=PMAT-01GW3WD2XJ1WEGY374FB44VV3B"
