name: CTMS Import
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Create Token
        id: myRequest
        run: |
          echo "res=$(curl --request GET --url "https://development-dn6yj4ti.authentication.ca10.hana.ondemand.com/oauth/token?grant_type=client_credentials" -u "sb-69742024-3de4-47f8-83e5-4e2dd0aa9849!b805|alm-ts-backend!b37:WwRJdDW3kIdtJTr5GJBq0TzEHus=" --header 'content-type: application/json')" >> $GITHUB_OUTPUT
 
      - name: Show Token
        run: |
          echo ${{ steps.myRequest.outputs.res}}
          
      - name: Import
        id: ctmsImport
        run: |
           payload='{"transportRequests": [41685]}'
           # data=$(curl --request POST --url 'https://transport-service-app-backend.ts.cfapps.ca10.hana.ondemand.com/v2/nodes/4/transportRequests/import' --header 'authorization: Bearer ${{ fromJson(steps.myRequest.outputs.res).access_token }}'  -H 'Accept: application/json' -H 'Content-Type: application/json' -d ${{toJSON( payload )}} -u "sb-69742024-3de4-47f8-83e5-4e2dd0aa9849!b805|alm-ts-backend!b37:WwRJdDW3kIdtJTr5GJBq0TzEHus=")
           echo $data    
