name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        
      - name: Create Token
        id: myRequest
        run: |
          echo "res=$(curl -X PUT 'https://githubaction.atlassian.net/rest/api/2/issue/GIT-69'  -H 'Accept: application/json'  -H 'Content-Type: application/json'  -d "{\"fields\": {\"description\": \"sakshi k\"}}" --user "shivamrajput1710@gmail.com:ATATT3xFfGF0hU1nV97eeRsQ4eWu1RAAa5AjaA2Ef9tcgRosdq27WzWRyVyc5y84nLXZZbY_0pa7NXtXwdQK4nUepkxM1fPUU5yujtLgxeWWY3VMWh_mkhcHvJKkUIK8RChoskMI9Ik_CRsyR_oHo-dHMjah8vPbQwq8dxTxA3QJRBEMaws2PZc=D78C6768")" >> $GITHUB_OUTPUT
 
      - name: Show Token
        run: |
          echo ${{ steps.myRequest.outputs.res}}
#       -
#         name: Login to Docker Hu
#         uses: docker/login-action@v2
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}
#       -
#         name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v2
#       -
#         name: Build and push
#         uses: docker/build-push-action@v4
#         with:
#           context: .
#           file: ./Dockerfile
#           push: true
#           tags: ${{ secrets.DOCKERHUB_USERNAME }}/clockbox:latest
          
#       - name: character-replacement-test
#         run: |
#           REPO='github/workflow/int flow.yml'
#           DB_NAME="${REPO// /^}"
#           echo $DB_NAME
#           MYPATH=$DB_NAME
#           MYFILE=${MYPATH##*/}
#           MYSAMPLE=${MYFILE%.*}
#           echo $MYSAMPLE
#           REPOS=$MYSAMPLE
#           DBNAME="${REPOS//^/ }"
#           echo $DBNAME
