name: tr id

on:
  push:
    branches:
      - main

jobs:
  extractDetails:
    runs-on: ubuntu-latest

    steps:
      - name: Update field value in Jira
        id: tr
        run: |
          existingValue=$(curl -s -u "arpit.munet@canadapost.postescanada.ca:ATATT3xFfGF0FGni-JbIKveHH_peedPRhSShBjyJ_ITDDpElTxWTt8J23nyoT4tJZjkuw6mkpMGOUS0miyaG5-eXwD0uJAP9MlJkQ4WpazT4t3YFlRNO1ibm5VpE4FocYsbO7G-DjlnXib_pEenezve48zndGi5b-s7oanQNdz-fbY-b5wHNT44=225CB9F4" \
          -X GET 'https://cpg-gpc-xt-hub.atlassian.net/rest/api/3/issue/DEV-30' | \
          jq -r '.fields.customfield_10228')
    
          tr=$(echo "$existingValue" | jq -r '.content[0].content[0].text')
          transportid="${tr},77777"
          echo "Updated value: $transportid"
#           curl -s -u "arpit.munet@canadapost.postescanada.ca:ATATT3xFfGF0FGni-JbIKveHH_peedPRhSShBjyJ_ITDDpElTxWTt8J23nyoT4tJZjkuw6mkpMGOUS0miyaG5-eXwD0uJAP9MlJkQ4WpazT4t3YFlRNO1ibm5VpE4FocYsbO7G-DjlnXib_pEenezve48zndGi5b-s7oanQNdz-fbY-b5wHNT44=225CB9F4"  \
#             -X PUT -H "Content-Type: application/json" \
#             -d '{
#               "fields": {
#                 "customfield_10228": "'"$updatedValue"'"
#               }
#             }' https://cpg-gpc-xt-hub.atlassian.net/rest/api/3/issue/DEV-30
            
      - name: Update TR id in Jira
        id: updateTR
        env:
           req: '{"update": {"customfield_10228": [{"set": "${{ steps.tr.outputs.transportid}}"}],"comment": [{"add": {"body": "TR ID is created"}}]}}'

        run: |
             file=$(curl --write-out "%{http_code}" -X PUT 'https://cpg-gpc-xt-hub.atlassian.net/rest/api/2/issue/DEV-30' -H 'Accept: application/json' -H 'Content-Type: application/json' -d ${{toJSON(env.req)}} --user "arpit.munet@canadapost.postescanada.ca:ATATT3xFfGF0FGni-JbIKveHH_peedPRhSShBjyJ_ITDDpElTxWTt8J23nyoT4tJZjkuw6mkpMGOUS0miyaG5-eXwD0uJAP9MlJkQ4WpazT4t3YFlRNO1ibm5VpE4FocYsbO7G-DjlnXib_pEenezve48zndGi5b-s7oanQNdz-fbY-b5wHNT44=225CB9F4")
             echo "$file"
     
