name: Extract JSON Details

on:
  push:
    branches:
      - main

jobs:
  extractDetails:
    runs-on: ubuntu-latest

    steps:
      - name: Update TR id in Jira
        id: updateTR
        run: |
          path=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | xargs)
          MYFILE=${path%%/*}
          str1=${COMMITS_MSG%%]*}
          jiraid=${str1##*[}
          echo $jiraid
          echo "folder=$MYFILE" >> "$GITHUB_OUTPUT"
          # echo "JID=$jiraid" >> "$GITHUB_OUTPUT"

