name: Extract JSON Details

on:
  push:
    branches:
      - main

jobs:
  extractDetails:
    runs-on: ubuntu-latest

    steps:
     - name: Access JSON data
        id: access
        run: |
          # Set the JSON data as a string
          echo '{"count":124,"contentResources":[{"id":"IflowForDevOpsTest","resourceID":"f3b1dc1cd5c34ce9a8a8b027d0edc418","type":"CloudIntegration","name":"Iflow For DevOps Test","subType":"package","version":"","title":"Test Iflow created by DevOps team for pipeline","vendor":"","description":"<p></p>","contentUrl":null,"componentQueryPattern":null,"components":[{"id":"Trial_Integration_Flow","name":"Trial Integration Flow","type":"Integration Flow","version":"1.0.1","additionalProperties":null,"exportable":false}],"dependencies":[],"additionalProperties":{"ExportMode":"ZIP"}}]}' >> json_data.json

      - name: Extract Details
        id: extract
        run: |
          # Parse the JSON data and extract the id value using jq
          json_data=$(cat json_data.json)

          # Extract id using jq
          id=$(echo "$json_data" | jq -r '.contentResources[0].id')
          echo "test=$id" >> "$GITHUB_OUTPUT"
          echo "Extracted Details: $test"

      - name: Use the extracted details
        run: |
          # Access the extracted details
          extracted_details=${{ steps.extract.outputs.test }}
          echo $extracted_details
