on:
  push

name: postmann

jobs:
  ci:
    runs-on: ubuntu-latest
    
    steps:
    - uses: docker-practice/actions-setup-docker@master
    - run: |
        set -x

        docker version 
        docker run -t postman/newman run "Docker\test\postman_collection_failure_case.json"
