on:
  push

name: SonarQube

jobs:
  ci:
    runs-on: ubuntu-latest
    
    steps:
      - name: character-replacement-test
        run: |
          dirname /github/workflow/int flow.yml
          REPO='/github/workflow/int flow.yml'
          BASE_DIRECTORY=$(echo "$REPO" | cut -d "/" -f1)
     
#       - name: Create Token
#         id: myRequest
#         run: |
#           curl -u c5a1e2243d3602bac8edf4e207dbe3126d3c725f: https://sonarqube.com/api/user_tokens/search 
#       - name: Show Token
#         run: |
#           echo ${{ steps.myRequest.outputs.res}}
   
