on:
  push

name: postmann

jobs:
  ci:
    runs-on: ubuntu-latest
    
    steps:
    - uses: docker-practice/actions-setup-docker@master
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - run: |
        set -x
        docker version 
        ls -lrt
        chmod 777 postman_collection_failure_case.json 
        pwd
        docker run -t postman/newman run Weather.postman_collection.json
