name: Example Workflow
on: [push]

jobs:
  example_job:
    runs-on: ubuntu-latest
    steps:
      - name: Set values
        id: set_values
        run: echo "values=a,b,c" >> $GITHUB_ENV
         IFS=',' read -ra arr <<< "$values"
         array="${arr[*]}"
         for item in $array; 
         do
           echo "Value:$item"
         done
